@import common

.login-form-wrapper
  padding-top: 20px
  display: grid
  @media(min-width: 640px)
    grid-template-columns: 10% auto 10%
  @media(min-width: 768px)
    grid-template-columns: 20% auto 20%
  @media(min-width: 1024px)
    grid-template-columns: 1fr 1fr 1fr
  .login-form-title
    text-align: center
    grid-row: 1
    grid-column: 2
  .login-form
    grid-row: 2
    grid-column: 2
    display: grid
    grid-gap: 10px
    label, input
      font-size: 20px
      @include font_body
    input
      padding: 5px
      &:required:invalid, &:focus:invalid
        background: url(/img/invalid.png) no-repeat right center
      &:required:valid
        background: url(/img/valid.png) no-repeat right center
    .btn
      @include button_bold

form
  label, input
    font-size: 20px
    border-radius: 5px
    @include font_body
    input
      padding: 5px
      &:required:invalid, &:focus:invalid
        background: url(/img/invalid.png) no-repeat right center
      &:required:valid
        background: url(/img/valid.png) no-repeat right center
    .btn
      @include button_bold

.logout
  bottom: 0
  position: fixed
  text-align: center
  width: 100%
  label
    color: $primary-gray
  .btn
    background-color: $primary-red
    &:hover
      background-color: $color-invalid
    &:active
      background-color: $color-valid
