<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title th:text="${title}">Title</title>
</head>
<body style="text-align: center">
    <a th:href="@{/}" th:fragment="logo" style="text-decoration: none;">
        <div style="text-align: center">
            <i style="font-size: 100px" class="material-icons primary-cyan">local_library</i>
            <p class="school-name primary-blue">HYPOTHETICAL ELEMENTARY</p>
        </div>
    </a>
    <form sec:authorize="!isAuthenticated()" th:action="@{/login}" method="get">
        <input class="btn" type="submit" value="LOG IN" />
    </form>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/dashboard}"
           class="btn" style="text-decoration: none">
            DASHBOARD
        </a>
    </div>
    <div th:replace="login :: logout"></div>
</body>