<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head th:replace="index :: head"></head>
<body>
<div th:replace="index :: logo"></div>
<div class="login-form-wrapper" sec:authorize="!isAuthenticated()">
    <form class="login-form" th:action="@{/login}" method="post">
        <label for="username">
            <i class="material-icons primary-gray">face</i>
            ID
        </label>
        <input type="text" name="username" id="username" required placeholder="Student/Teacher ID" pattern="\d{8}">
        <label for="password">
            <i class="material-icons primary-gray">https</i>
            Password
        </label>
        <input type="password" name="password" id="password" required placeholder="Type your password"/>
        <input class="btn" type="submit" value="LOG IN"/>
        <p th:if="${param.error != null}" class="error">Wrong user or password</p>
        <p th:if="${param.logout != null}" class="success">You have logged out successfully</p>
    </form>
</div>
<div th:fragment="logout" sec:authorize="isAuthenticated()" class="logout">
    <div style="text-align: center">
        <form th:action="@{'/logout'}" method="post">
            <input class="btn" type="submit" value="LOG OUT"/>
        </form>
    </div>
</div>
</body>

</html>