<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head th:replace="index :: head"></head>
<body class="body-font">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="nav-main">
    <a class="navbar-brand text-white title-font" th:href="@{/index}">
        <i class="material-icons d-inline-block align-top text-white"
           style="width: 30px; height: 30px; font-size: 25px">
            local_library
        </i>
        Hypothetical Elementary
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/index}" style="text-align: center">
                Home  <i class="material-icons text-white" style="font-size: 14px">home</i>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/dashboard}" sec:authorize="isAuthenticated()" style="text-align: center">
                Dashboard  <i class="material-icons text-white" style="font-size: 14px">dashboard</i>
            </a>
        </li>
    </ul>
    <form class="form-inline float-sm-right" th:action="@{/login}" method="get" sec:authorize="!isAuthenticated()">
        <button class="btn btn-outline-success" type="submit">Log in</button>
    </form>
    <form class="form-inline pull-xs-right" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
        <button class="btn btn-outline-danger" type="submit">Log out</button>
    </form>
</nav>
<div class="container" id="table-container">
    <h1 class="text-dark title-font text-center" th:text="${'Grades ' + partial +' Group ' + group}"></h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Student</th>
                <th scope="col">Spanish</th>
                <th scope="col">Math</th>
                <th scope="col">Nat. Science</th>
                <th scope="col">Social Science</th>
                <th scope="col">Physical Education</th>
                <th scope="col">English</th>
                <th scope="col">Average</th>
                <th scope="col">Edit</th>
            </tr>
        <th:block th:each="student : ${students}">
            <tr>
                <th scope="row" th:text="${student.firstName} + ' ' + ${student.lastName}"></th>
                <th:block th:each="grade : ${@studentGradeService.findByStudentIdAndPartial(student.id, partial)}">
                    <td th:text="${grade.grade}"></td>
                </th:block>
                <td class="text-success" th:text="${@studentGradeService.periodAverage(student.id, partial)}"></td>
                <td>
                    <a role="button" class="btn btn-success btn-sm" type="submit"
                       th:href="@{'/groups/'+ ${group} +'/students/'} + ${student.id}">
                        edit
                    </a>
                </td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>